[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.0"
werkzeug = "==2.0.0"
itsdangerous = "==2.0.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
